* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
a{
    color: black;
    text-decoration: none;
}
h1{
    font-family: 'Shrikhand';
    font-size: 22px;

}
.navigation{
    display:flex;
    align-items: center;
}
.logo{
    height:30px;
    width:100%;
}

.topmenu{
    display: flex;
    justify-content: center;
    width: 100%;
}
.imagerestaurant{
    height:150px;
    width:100%;
    object-fit: cover;
    position: absolute;
}

.menurestaurant{
    position: relative;
    top:130px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #DCDCDC;
    padding-top: 30px;
    padding-bottom: 30px;
}
.titremenu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
}
.fa-solid.fa-heart{
    display: none;
}

/*Menu*/ 
H2{   
    border-bottom: 5px solid green;
    width:20%;
    margin-bottom:10px;
}
.menucomplet{
    background-color: white;
    border-radius: 10px;
    margin-left: 5px;
    margin-right:5px;
    padding: 10px;
}
.lignebasmenu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.check{
    display:none;
    color: white;
}
.check :hover{
    display:block;
    background-color: greenyellow;
    
}
/* tablette*/
@media (min-width: 768px){
.topmenufleche{
    display:none;
}
.titremenu{
    justify-content: center;
}
.coeur{
    padding-left: 50px;
}
.imagerestaurant{
    height:250px;
}
.menurestaurant{
    position: relative;
    top:230px;
}
}
/* Ddesktop*/

@media (min-width:992px){
    .topmenufleche{
        display:none;
    }
    .imagerestaurant{
        height:350px;
    }
    .menurestaurant{
        position: relative;
        top:320px;
    }
    .titremenu{
        justify-content: center;
    }
    .coeur{
        padding-left: 50px;
    }
    }